@media all {
    .FT_container * { margin:0; padding: 0; box-sizing: border-box; font-family: 'Open Sans', sans-serif; font-size:14px;}
    ul.FT_listStyle.FT_truckList { display:block; -moz-column-count: 4; -webkit-column-count: 4; column-count: 4; -moz-column-gap: 15px; -webkit-column-gap: 15px; column-gap: 15px; }
    ul.FT_listStyle > li { width: 25%; display: inline-block; padding: 15px; min-height: 150px; list-style: none; vertical-align: top; text-align: center; margin: 0; }
	ul.FT_listStyle.FT_truckList > li { width: 100%; padding: 2px; margin: 0 0 15px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
	/*body, html{ font-family: 'Open Sans', sans-serif; font-size: 14px; }*/
	#dealerTruckContainerId{ max-width:1000px; width: 90%; margin: 15px auto; }
	.FT_ThemeContainer h1 { font-size: 13px; background-color: #f2f2f2; padding: 6px 10px; font-weight: bold; margin-bottom: 15px; }
	.FT_ThemeContainer p + p { line-height: 20px; padding-top: 10px; }
	.FT_tabs { width: 100%; padding: 25px 0 0; }
	.FT_tab-links:after { display: block; clear: both; content: ''; }
	.FT_tab-links li { margin-right: 10px; float: left; list-style: none; min-width:230px; margin-left: 0;}
	.FT_tab-links a { padding: 18px 10px; display: block; border-radius: 0; background: #eaeaea; font-size: 13px; font-weight: bold; color: #6e6e6e; text-decoration: none; transition: all linear 0.15s; text-align: center; }
	.FT_tab-links a:hover { background: #f5f5f5; text-decoration: none; }
	li.FT_active a, li.FT_active a:hover { background: #7a0303; color: #fff; }
	.FT_content { padding: 15px; background: #f4f4f4; border: 1px solid #eaeaea; }
	.FT_tab { display: none; }
	.FT_tab.FT_active { display: block; }

	ul.FT_listStyle li img { max-width: 100%; height: auto; width: auto; cursor: pointer; }
	.FT_redTxt { padding:5px 0 7px; font-weight: 600; }
	.FT_gryTxtbox { min-height:150px; }
	ul.FT_listStyle > li > div { background: #f4f4f4; height: auto; padding: 10px; border: 1px solid #eaeaea; position: relative; }
	ul.FT_listStyle.FT_category > li > div { height: auto; }
	a.FT_redBtn { width: 100%; text-decoration: none; cursor: pointer; display: block; padding: 8px; border-radius: 3px; margin: 5px 0 0;}
	a.FT_redBtn:hover { text-decoration:none; background:rgba(122, 3, 3, 0.82); }
	FT_blackCost { color:#000; padding: 0 0 10px; }
	.FT_btmDiv { position: relative; box-sizing: content-box; }

	ul.FT_category > li > div { background: none; min-height: 220px; padding: 0; border: 0 none; position: relative; }
	.FT_imgDiv { cursor: pointer; width:100%; height:150px; box-shadow:1px 1px 3px rgba(0, 0, 0, 0.25); }
	.FT_title { color: #333333; background: none; font-size: 35px; padding: 0; margin: 0 0 15px; }
	.FT_heading { font-size:25px; font-weight:600; padding:0 0 25px; display:block; }
	.FT_backLink { color:#333333; display:block; padding:7px;  margin: 0 0 25px; cursor: pointer; font: 700 1.3em/0 Georgia,"Times New Roman",Times,serif; color: #B40000;} 
	.FT_bigTxt{font-size: 16px;}
	.FT_spaceBtm{margin-bottom:20px;}
	.FT_fL { float: right; width: 50%; padding-left: 15px; }
	.FT_fR { float: left; width: 50%; padding-right: 15px; }
	.FT_input { border: 1px solid #cdcdcd; border-radius: 3px; padding: 10px; width: 100%; margin: 0 0 20px; height: 37px; }
	.FT_fR.FT_TextArea { width: 100%; padding: 0; }
	.FT_submitBtn { cursor:pointer; width: 100%; background: #999999; color: #fff; border: 1px solid #999; border-radius: 3px; padding: 10px; font-weight: 600; }	
	.FT_errorMsg { border: 1px solid #fff; display: inline-block; width: 100%; max-width: 300px; padding: 10px; border-left: 3px solid red; background: #fff; border-radius: 3px; margin: 0 auto 15px; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.09); position: relative; }
	.FT_successMsg { border: 1px solid #fff; display: inline-block; width: 100%; max-width: 300px; padding: 10px; border-left: 3px solid green; background: #fff; border-radius: 3px; margin: 0 auto 15px; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.09); position: relative; }
	.FT_closeBtn:before { content: '+'; position: absolute; right: 10px; transform: rotate(45deg); color: #333333; font-size: 18px; line-height: 15px; cursor: pointer; text-decoration:none; }
	a.FT_closeBtn { width: 15px;  height: 15px;}
	.FT_PageTitle { font-size: 30px; font-weight: 600; text-align: center;     padding: 15px 10px 10px; line-height:normal; }
	.FT_formTitle { font-size: 20px; color: black; font-weight: 600; padding: 9px 0px; }
	.FT_clr { clear: both;}
	.FT_thumbnail img { width:auto; vertical-align: top; max-height: 75px; height: auto; max-width: 100px; margin: 5px 3px;}
	.FT_fL.FT_thumbnail { width: 40%; padding: 0; height: 450px; overflow: auto;}
	.FT_swiperContainer.FT_fR { width: 60%; position: relative;}
	.FT_prevBtn { cursor: pointer; text-decoration:none; display : none; }
	.FT_nextBtn { cursor: pointer; text-decoration:none; }
	.FT_swiperContainer img {width: 100%; height: 450px;}
	a.FT_swiperBtn { background: rgba(255, 255, 255, 0.91); position: absolute; top: 50%; width: 30px; height: 30px; border-radius: 100px; box-shadow: 0px 0px 0 3px rgba(0, 0, 0, 0.31); font-size: 0; text-align: center; line-height: 30px;    margin-top: -15px; }
	.FT_btmDiv > div { font-weight: 600; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
	a.FT_swiperBtn.FT_prevBtn { left: 15px;}
	a.FT_swiperBtn.FT_nextBtn { right: 30px;}
	a.FT_swiperBtn.FT_prevBtn:before { content: ''; border: solid #7a0303; border-width: 0 3px 3px 0; position: absolute; border-radius: 3px; left: 10px; top: 10px; padding: 3px; transform: rotate(135deg);box-shadow: 1px 1px 0px 0px rgba(150, 146, 146, 0.41); transition: all 0.4s ease;}
    a.FT_swiperBtn.FT_nextBtn:before { content: ''; border: solid #7a0303; border-width: 0 3px 3px 0; position: absolute; border-radius: 3px; left: 10px; top: 10px; padding: 3px; transform: rotate(-45deg); box-shadow: 1px 1px 0px 0px rgba(150, 146, 146, 0.41); transition: all 0.4s ease;}
    a.FT_swiperBtn.FT_nextBtn:hover:before { margin-left: 1px; }
    a.FT_swiperBtn.FT_prevBtn:hover:before { margin-left: -1px; }                
	.FT_thumbnail.FT_fL img { cursor: pointer; }
	
	.FT_ThemeContainer { background-color: #7a0303; color: #fff; }
    li .FT_gryTxt { color: #666; padding: 0 0 7px; display: block; max-width: 100%; height: auto; /*-webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;*/ line-height: 19px; }
    .FT_footer > h5 { font-size: 25px; font-weight: 500; padding:0; }
    .FT_footer { /*padding: 15px 25px;*/padding: 15px 9px; text-align: center; }
    .FT_footer a { font-size: 19px; display: block; padding: 10px 0 0; line-height: normal; }
    
    .FT_bldTxt { height: 35px; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; line-height: 19px; } 
	
	/*****************COPY LINK *******************/
	/*.FT_copyLinkDiv:before { content: ''; border: 8px solid transparent; border-left: 8px solid rgb(122, 3, 3); position: absolute; right: -16px; top: 5px;}
	.FT_copyLinkDiv { position: fixed; background: rgb(122, 3, 3); width: 150px; height: 50px; border: 1px solid rgb(122, 3, 3); z-index: 99; right: 10px; top: 50%; border-radius: 3px; }
	a.copyBtn { color: #000; text-decoration: underline; }
	*/
	a.copyBtn { color: rgb(255, 255, 255); background: rgb(122, 3, 3); border: 1px solid rgb(122, 3, 3); max-width: 150px; text-align: center; width: 100%; text-decoration: none; cursor: pointer; display: block; padding: 8px; border-radius: 3px; margin: 12px 0 0; }
	a#linkContainerId { border: 1px solid #d6d6d6; width: 100%; display: block; padding: 10px; } a.copyBtn:hover { text-decoration: none; color: #fff; }
	/****************Common Css****************/
	  ul li, ol li{margin-left: 0;}
	 ul, ol{margin:0;}
	.FT_imgfR{float:right; max-width:45px;}
	.FT_imgfL{float:left; max-width:45px;}
    h5.FT_footerHead {background:transparent;}
    .whtieBg {content: ''; background: rgb(255, 255, 255); width: 40px; height: 40px; position: absolute; border-radius: 50px; /*top: 50%;*/top: 28%; left: 50%; margin-left: -25px; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.71); }
	.loader { border: 4px solid #dcdcdc; border-radius: 50%; border-top: 4px solid #7a0303; width: 30px; height: 30px; -webkit-animation: spin 1s linear infinite; animation: spin 1s linear infinite; margin: 5px auto; }
	@-webkit-keyframes spin {0% { -webkit-transform: rotate(0deg); }100% { -webkit-transform: rotate(360deg); }}
	@keyframes spin {0% { transform: rotate(0deg); }100% { transform: rotate(360deg); }}
	.bgBlack{position:fixed; top:0; bottom:0 ;left:0;right:0; background:rgba(0, 0, 0, 0.38); z-index: 9001;}
	.FT_container .bgBlack { position: relative; /*top: 0; bottom: 0; left: 0; right: 0;*/ background: rgba(0, 0, 0, 0.08); z-index: 99; width: 100%; height: 100%;}
	.FT_loaderContainer {height:100px;width: 100%;}
	h2.FT_heading > a { font-size: 25px;}
	p.imgDesc { white-space: nowrap; text-overflow: ellipsis; display: block; overflow: hidden; }
}
@media screen and  (max-width:980px){
	ul.FT_listStyle.FT_truckList { -moz-column-count: 3; -webkit-column-count: 3; column-count: 3;}
}
@media screen and  (max-width:768px){
	ul.FT_listStyle > li { width:33.33%;}
	ul.FT_listStyle.FT_truckList > li { width:100%;}
	.FT_swiperContainer.FT_fR { width: 100%; position: relative; padding: 0; }	
	ul.FT_category > li > div { min-height: auto;}
	/*.FT_btmDiv { position: static; }*/
	.FT_swiperContainer.FT_fR { width: 100%; padding: 0;}
	.FT_fL.FT_thumbnail { display:flex; width: 100%; overflow-y: auto;height:auto; }
    a.FT_swiperBtn.FT_prevBtn { left: 15px; }
	a.FT_swiperBtn.FT_nextBtn { right: 30px; }
	ul.FT_listStyle.FT_truckList { -moz-column-count: 2; -webkit-column-count: 2; column-count: 2;}
}
            
@media screen and  (max-width:750px){   
	ul.FT_listStyle > li { width: 100%;}
	ul.FT_listStyle.FT_truckList > li { width:100%;}
	.FT_tab-links a { height: 100%; }
	.FT_tab-links li { min-width: auto;  display: table-cell;  height: 100%; float: none; }
	ul.FT_tab-links { width: 100%;  display: table;}
	.FT_fL, .FT_fR { width: 100%; padding: 0; }
	li .FT_gryTxt { /*-webkit-line-clamp: inherit; -webkit-box-orient: vertical; overflow: auto; text-overflow: inherit;*/ line-height: normal; margin: 0; }
	.FT_heading{padding: 10px 0 25px;}
}
@media screen and  (max-width: 520px){
	ul.FT_listStyle.FT_truckList { -moz-column-count: 1; -webkit-column-count: 1; column-count: 1;}
}