* { margin:0; padding: 0; box-sizing: border-box; }
ul.FT_listStyle > li { width: 25%; display: inline-block; padding: 15px; min-height: 150px; list-style: none; vertical-align: top; text-align: center; }
body, html{ font-family: 'Open Sans', sans-serif; font-size: 14px; }
#dealerTruckContainerId{ max-width:1000px; width: 90%; margin: 15px auto; }
h1 { font-size: 13px; background-color: #f2f2f2; padding: 6px 10px; font-weight: bold; margin-bottom: 15px; }
p + p { line-height: 20px; padding-top: 10px; }
.FT_tabs { width: 100%; display: inline-block; }
.FT_tab-links:after { display: block; clear: both; content: ''; }
.FT_tab-links li { margin: 0 5px; float: left; list-style: none; }
.FT_tab-links a { padding: 10px 15px; display: inline-block; border-radius: 3px 3px 0 0; background: #6494c1; font-size: 13px; font-weight: bold; color: white; text-decoration: none; transition: all linear 0.15s; border-top: 1px solid #000; border-left: 1px solid #000; border-right: 1px solid #000; }
.FT_tab-links a:hover { background: #1275d2; text-decoration: none; }
li.FT_active a, li.FT_active a:hover { background: #1275d2; color: black; }
.FT_content{ padding: 15px; border-radius: 3px; box-shadow: -1px 1px 1px rgba(0,0,0,0.15); background: #fff; }
.FT_tab { display: none; }
.FT_tab.FT_active { display: block; }

ul.FT_listStyle li img { width: 100%; height: 135px; }
.FT_redTxt { color:#7a0303; padding:5px 0 7px; font-weight: 600; }
.FT_gryTxt { color:#666; padding:0 0 7px; }
.FT_gryTxtbox { min-height:150px; }
ul.FT_listStyle > li > div { background: #f4f4f4; min-height: 350px; padding: 10px; border: 1px solid #eaeaea; position: relative; }
a.FT_redBtn { background: #7a0303; width: 100%; border: 1px solid #7a0303; text-decoration: none; cursor: pointer; display: block; color: #fff; padding: 8px; border-radius: 3px; margin: 5px 0 0;}
a.FT_redBtn:hover { text-decoration:none; background:rgba(122, 3, 3, 0.82); }
FT_blackCost { color:#000; padding: 0 0 10px; }
.FT_btmDiv { position: absolute; bottom: 10px; box-sizing: content-box; right: 10px; left: 10px; }

ul.FT_category > li > div { background: none; min-height: 220px; padding: 10px; border: 0 none; position: relative; }
.FT_imgDiv { cursor: pointer; width:100%; height:150px; box-shadow:1px 1px 3px rgba(0, 0, 0, 0.25); }
.FT_btmDiv > div {  font-weight: 600;}
.FT_title { color: #333333; background: none; font-size: 35px; padding: 0; margin: 0 0 15px; }
.FT_heading { font-size:25px; font-weight:600; color:#7a0303; padding:0 0 25px; }
.FT_backLink { color:#333333; display:block; padding:7px; background:#f4f4f4; margin: 0 0 25px; } 