	ul.FT_category > li > div { background: none; min-height: 220px; padding: 10px; border: 0 none; position: relative; }
	.FT_imgDiv { cursor: pointer; width:100%; height:150px; box-shadow:1px 1px 3px rgba(0, 0, 0, 0.25); }
	.FT_btmDiv > div {  font-weight: 600;}
	.FT_title { color: #333333; background: none; font-size: 35px; padding: 0; margin: 0 0 15px; }
	.FT_heading { font-size:25px; font-weight:600; color:#7a0303; padding:0 0 25px; }
	.FT_backLink { color:#333333; display:block; padding:7px; background:#f4f4f4; margin: 0 0 25px; } 
	.FT_bigTxt{font-size: 16px;}
	.FT_spaceBtm{margin-bottom:20px;}
	.FT_fL { float: right; width: 50%; padding-left: 15px; }
	.FT_fR { float: left; width: 50%; padding-right: 15px; }
	.FT_input { border: 1px solid #cdcdcd; border-radius: 3px; padding: 10px; width: 100%; margin: 0 0 20px; height: 37px; }
	.FT_fR.FT_TextArea { width: 100%; padding: 0; }
	.FT_submitBtn { width: 100%; background: #999999; color: #fff; border: 1px solid #999; border-radius: 3px; padding: 10px; font-weight: 600; }	
	.FT_errorMsg { border: 1px solid #fff; display: inline-block; width: 100%; max-width: 300px; padding: 10px; border-left: 3px solid red; background: #fff; border-radius: 3px; margin: 0 auto 15px; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.09); position: relative; }
	.FT_successMsg { border: 1px solid #fff; display: inline-block; width: 100%; max-width: 300px; padding: 10px; border-left: 3px solid green; background: #fff; border-radius: 3px; margin: 0 auto 15px; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.09); position: relative; }
	.FT_closeBtn:before { content: '+'; position: absolute; right: 10px; transform: rotate(45deg); color: #333333; font-size: 18px; line-height: 15px; cursor: pointer; text-decoration:none; }
	a.FT_closeBtn { width: 15px;  height: 15px;}
	.FT_PageTitle { font-size: 30px; font-weight: 600; text-align: center; }
	.FT_formTitle { font-size: 20px; color: black; font-weight: 600; padding: 9px 0px; }
	.FT_clr { clear: both;}
	.FT_thumbnail img { width: 33.33%; border:1px solid #fff; }
	.FT_fL.FT_thumbnail { width: 40%;  padding: 0;}
	.FT_swiperContainer.FT_fR { width: 60%; position: relative;}
	.FT_prevBtn { cursor: pointer; text-decoration:none; display : none; }
	.FT_nextBtn { cursor: pointer; text-decoration:none; }
	.FT_swiperContainer img {width: 100%;}
	a.FT_swiperBtn { background: rgba(255, 255, 255, 0.91); position: absolute; top: 50%; width: 30px; height: 30px; border-radius: 100px; box-shadow: 0px 0px 0 2px rgba(255, 255, 255, 0.5); font-size: 0; text-align: center; line-height: 30px;    margin-top: -15px; }

	a.FT_swiperBtn.FT_prevBtn { left: 15px;}
	a.FT_swiperBtn.FT_nextBtn { right: 30px;}
	a.FT_swiperBtn.FT_prevBtn:before { content: ''; border: solid #7a0303; border-width: 0 3px 3px 0; position: absolute; border-radius: 3px; left: 10px; top: 10px; padding: 3px; transform: rotate(135deg); }
	a.FT_swiperBtn.FT_nextBtn:before { content: ''; border: solid #7a0303; border-width: 0 3px 3px 0; position: absolute; border-radius: 3px; left: 10px; top: 10px; padding: 3px; transform: rotate(-45deg); }
}

@media screen size (max-width:768px){
	.FT_swiperContainer.FT_fR { width: 100%; position: relative; padding: 0; }
	
}